@{
    ViewBag.Title = "Panel";
}

@{
    // HttpCookie clientCookies = new HttpCookie("clientCookie");
    // clientCookies["prueba 1"] = "cookie del cliente";
    // clientCookies.Expires = DateTime.Now.AddYears(1);
    // Response.Cookies.Add(clientCookies);
}

<script>
    var selectedEmploye = null;
    var employesList = @Html.Raw(Json.Encode(ViewData["Employes"]));
    var validEmploye = false;
            //console.log(stringArray);
</script>

<div class="row" style="margin-top: 32px">
    <!--FORMULARIO DE REGISTRO ACCESO-->
    <div class="col-sm-4" style="padding: 32px 32px 32px 32px; background-color:#eeeeee; box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.40);">
        <h2>Departamento</h2>

        <form id="form" action="~/Views/Home/Index" method="post" onsubmit="validateForm()">
            <script type="text/javascript">
                function validateIDEmploye() {
                    var input = document.forms["form"]["idEmploye"]
                    if (Number(input.value) < 0) {
                        input.value = 0;
                    }
                    if (input.value.length == 6) {
                        selectedEmploye = employesList.find(x => x.EmployeId === Number(input.value));

                        if (selectedEmploye != null) {
                            document.getElementById("employeName").innerHTML = selectedEmploye.Name;
                            validEmploye = true;
                        }
                        // for (var i = 0; i < employesList.length; i++) {
                        //     if (employesList[i].EmployeID == Number(input.value)) {
                        //         document.getElementById("employeName").innerHTML = employesList[i].Name;
                        //         validEmploye = true;
                        //     }
                        // }
                    } else {
                        selectedEmploye = null;
                        validEmploye = false;
                        document.getElementById("employeName").innerHTML = "";
                    }
                }

                function validateForm() {
                    var input = document.forms["form"]["idEmploye"]
                    if (input.value > 0 && validEmploye) {
                        alert("EmployeID= " + selectedEmploye.EmployeId + " Employe Name= " + selectedEmploye.Name);
                        return false;
                    } else {
                        alert("Debes de ingresar una ficha de trabajador valido");
                    }
                }

                function clearForm() {
                    selectedEmploye = null;
                    validEmploye = false;
                    document.forms["form"]["idEmploye"].value = "";
                    document.getElementById("employeName").innerHTML = "";
                }
            </script>

            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <h4 style="margin-bottom:8px;"><b>Ficha:</b> </h4>
                @Html.TextBox("idEmploye", null, new
                {
                    @class = "form-control",
                    placeholder = "Ingresa tu ficha Ej. (582509)",
                    type = "number",
                    oninput = "validateIDEmploye()",
           style = "font-size: 12pt;"
                })
                <h4 style="margin-bottom:8px; margin-top:16px;"><b>Trabajador:</b></h4>
                <h5 id="employeName" style="margin-bottom:8px;"></h5>
            }

        </form>

        @{
            string cookie1 = string.Empty;
            cookie1 = ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "clientCookie", "prueba 1") as string;
        }
        <div class="row" style="margin-top: 32px; padding-left: 16px;">
            <a class="btn btn-danger" onclick="clearForm()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
            <a class="btn btn-primary" onclick="validateForm()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Registrar Entrada
            </a>
        </div>
    </div>

    <!--BACKLOG REGISTRY-->
    <div class="row col-sm-7 col-sm-offset-1">
        <div style="background-color:#eeeeee; padding: 32px;">
            <h2>23 Jun 12:59:00</h2>
        </div>

        <div>
            <script type="text/javascript">
                function selectRegistryElement(index) {
                    alert("TableElement= " + index)
                }
            </script>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Ficha</th>
                        <th scope="col">Trabajador</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Salida</th>
                        <th scope="col">Horas</th>
                    </tr>
                </thead>
                <tbody style="cursor:pointer">
                    @{for (int i = 0; i < 4; i++)
                        {
                            <tr onclick="selectRegistryElement(@i)">
                                <th scope="row">582509</th>
                                <td>ANGEL GERARDO JIMENEZ REYES</td>
                                <td>24/06/2020</td>
                                <td>8:00 am</td>
                                <td>8:00 pm</td>
                                <td>12:00 hrs</td>
                            </tr>
                        }
                    }
                    <tr onclick="selectRegistryElement(4)">
                        <th scope="row">582509</th>
                        <td>ANGEL GERARDO JIMENEZ REYES</td>
                        <td>24/06/2020</td>
                        <td>8:00 am</td>
                        <td>8:00 pm</td>
                        <td>12:00 hrs</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="background-color:#eeeeee; padding: 32px">
            <div class="row">
                <div class="col-md-6">
                    <h4><b>Trabajador: </b></h4>
                    <h5>ANGEL GERARDO JIMENEZ REYES</h5>
                </div>
                <div class="col-md-6">
                    <h4><b>Hora de entrada: </b></h4>
                    <h5>08:00 am</h5>
                </div>
            </div>
        </div>
        <br />

        <div style="background-color:#eeeeee; padding: 32px;">
            <div class="row">
                <div class="col-md-3">
                    <p><a class="btn btn-success"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>  Registrar salida</a></p>
                </div>

                <div class="col-md-9">
                    <h5>*Para anotar tu salida selecciona tu registro, y pulsa el boton</h5>
                </div>
            </div>
        </div>
    </div>
</div>