
@{
    ViewBag.Title = "Tarjeta de acceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top:32px;">Tarjeta de acceso</h2>

@if (ViewData["accessTokenBytes"] != null)
{
    ControlAccesoChecadorKioskoASP.Models.AccessToken token = ViewData["AccessToken"] as ControlAccesoChecadorKioskoASP.Models.AccessToken;
<div style="width: 5.5cm;">
    <div style="padding:5px; border: 1px solid black; text-align:center;">
        <label style="font-size:10pt;">@token.Employe.EmployeId</label>
        <br />
        <img style="width: 100%; margin:-10px" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewData["accessTokenBytes"] as byte[]))" />
        <br />
        <label style="font-size:10pt;">@token.Employe.Name</label>

    </div>
</div>
}