
@{
    ViewBag.Title = "Configuraciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" style="margin-top: 32px">
        <h1>Configuraciones</h1>
        <!--FORMULARIO DE CONFIGURACIONES-->
        <div class="col-md-12" style="padding: 32px; background-color:#eeeeee; box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.40);">
            <h2>Departamento</h2>

            <form id="form" action="~/Views/Home/Index" method="post" onsubmit="validateForm()">
                <script type="text/javascript">
                function validateIDEmploye() {
                    var input = document.forms["form"]["idEmploye"]
                    if (Number(input.value) < 0) {
                        input.value = 0;
                    }
                    if (input.value.length == 6) {
                        selectedEmploye = employesList.find(x => x.EmployeId === Number(input.value));

                        if (selectedEmploye != null) {
                            document.getElementById("employeName").innerHTML = selectedEmploye.Name;
                            validEmploye = true;
                        }
                        // for (var i = 0; i < employesList.length; i++) {
                        //     if (employesList[i].EmployeID == Number(input.value)) {
                        //         document.getElementById("employeName").innerHTML = employesList[i].Name;
                        //         validEmploye = true;
                        //     }
                        // }
                    } else {
                        selectedEmploye = null;
                        validEmploye = false;
                        document.getElementById("employeName").innerHTML = "";
                    }
                }

                function validateForm() {
                    var input = document.forms["form"]["idEmploye"]
                    if (input.value > 0 && validEmploye) {
                        alert("EmployeID= " + selectedEmploye.EmployeId + " Employe Name= " + selectedEmploye.Name);
                        return false;
                    } else {
                        alert("Debes de ingresar una ficha de trabajador valido");
                    }
                }

                function clearForm() {
                    selectedEmploye = null;
                    validEmploye = false;
                    document.forms["form"]["idEmploye"].value = "";
                    document.getElementById("employeName").innerHTML = "";
                }
                </script>

                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <h4 style="margin-bottom:8px;"><b>Ficha:</b> </h4>
                    @Html.TextBox("idEmploye", null, new
                    {
                        @class = "form-control",
                        placeholder = "Ingresa tu ficha Ej. (582509)",
                        type = "number",
                        oninput = "validateIDEmploye()",
               style = "font-size: 12pt;"
                    })
                    <h4 style="margin-bottom:8px; margin-top:16px;"><b>Trabajador:</b></h4>
                    <h5 id="employeName" style="margin-bottom:8px;"></h5>
                }

            </form>

            @{
                string cookie1 = string.Empty;
                cookie1 = ControlAccesoChecadorKioskoASP.Application.ClientSideManager.RetriveCookieFromCollection(Request.Cookies, "clientCookie", "prueba 1") as string;
            }
            <div class="row" style="margin-top: 32px; padding-left: 16px;">
                <a class="btn btn-danger" onclick="clearForm()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <a class="btn btn-primary" onclick="validateForm()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Registrar Entrada
                </a>
            </div>
        </div>
    </div>
